src/main/mule/boa3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="boa3Flow" doc:id="135b08ee-62d1-4f57-afab-a9263a2d4def" >
		<logger level="INFO" doc:name="Logger" doc:id="109e0b31-0f8c-47ed-b691-61d4a399f954" message='#["we ara in BOA3"]'/>
	</flow>
</mule>
